/* ========================================================================== */
/* Déclaration initiale for BOX-SIZING */
* {
    box-sizing: content-box; // box-sizing est appliqué à tous les éléments
}

/* ========================================================================== */
/* Definition of the Google font polices */
    /* For normal text */
body{
    font-family: "Permanent Marker", Verdana, sans-serif; // Roboto font police used for text
}
    /* For footer */
.footer{
    font-family: "Roboto", Verdana, sans-serif; // Shrikhand font police used for title h1 except 'accueil' page
}