/* ========================================================================== */
/* ===                               Mixins                               === */
/* ========================================================================== */
/* Mixins for media queries */
    /* For Footer and resto-container */
@mixin responsive($screen-format){
    @media screen and ( min-width: brkpt(map-get($responsive, $screen-format)) ){
        @content;
    }
}

/* ========================================================================== */
/* Global Mixin */
    /* Mixin for Flex display */
@mixin flex-display($direction: row, $main-dir: center, $secondary-dir: center, $wrap: wrap, $adjust: adjust){
    display: flex;
    @if ( $direction != row ){
        flex-direction: $direction;
    }
    @if ( $main-dir != flex-start ){
        justify-content: $main-dir;
    }
    @if ( ($secondary-dir != flex-start) and $wrap == nowrap ){
        @if ($secondary-dir == space-between) {
            align-content: $secondary-dir;
        } @else {
            align-items: $secondary-dir;
        }
    }
    @if ( ($secondary-dir != flex-start) and $wrap == wrap ){
        align-content: $secondary-dir;
    }
    @if ( $wrap != nowrap ){
        flex-wrap: $wrap;
    }
    @if ( $adjust == adjust ){
        margin: auto;
        width: 100%;
    }
}
    
    /* Mixin for position of block */
@mixin block-position($position: absolute, $top: none, $right: none, $bottom: none, $left: none, $zindex: none, $width: none, $height: none){
    position: $position;
    @if ( $top != none ){
        top: $top;
    }
    @if ( $left != none ){
        left: $left;
    }
    @if ( $bottom != none ){
        bottom: $bottom;
    }
    @if ( $right != none ){
        right: $right;
    }
    @if ( $zindex != none ){
        z-index: $zindex;
    }
    @if ( $width != none ){
        width: $width;
    }
    @if ( $height != none ){
        height: $height;
    }
}