/* ========================================================================== */
/* ===                              Variables                             === */
/* ========================================================================== */
/* Breakpoints variables */
    /* Breakpoints */
$breakpoints: (
    mobile: 769px,
    desktop: 1135px,
    max-width: 1920px
);
    /* format - breakpoints correspondance */
$responsive: (
    tablette: mobile,
    desktop: desktop
);

/* ========================================================================== */
/* Color variables */
    /* Background or border or icon font */
$color-primary: #D2D3CB; // Main color for button, heart and disk with number in 'fonctionnement'
$color-secondary: #FFFFFF; // Second color for gradient in button and heart
$color-tertiary: #777777; // Color for footer
$color-quaternary: #000000; // Color for video background
$color-footer: scale-color($color-tertiary, $lightness: -55.5%); // Color for 'footer' [color = #353535]
    /* Shadow */
$color-shadow: scale-color($color-primary, $lightness: -25%); // Color for shadows [color = #CECECE]
$color-shadow-hover: scale-color($color-primary, $lightness: -45%); // Color for shadows hover
    /* Font color */
$color-texte-primary: scale-color($color-primary, $lightness: -70%);
$color-texte-secondary: $color-primary;

/* ========================================================================== */
/* Global Size and Box (margin, padding, ...) definition */
$big: 50px;
$medium: 25px;
$small: 20px;
$very-small: 5px;
$a: (
    text-decoration: none,
    color: $color-texte-primary,
    font-size: 230%
);
$h1: (
    margin: 0,
    padding: ($big - 10px) ($big + 10px) ($big - 10px) ($big + 10px),
    font-size: 230%
);
$h2: (
    margin: 0,
    padding: $big 0 $medium $medium,
    font-size: 110%,
    color: $color-texte-primary,
    text-shadow: 2px 2px 2px $color-shadow
);
$h3: (
    margin: 0,
    padding-top: $medium - 2px,
    padding-bottom: $very-small + 2px,
    font-size: 110%
);
$p: (
    margin: 0,
    padding: $very-small $very-small $very-small $very-small,
    padding-top: $very-small,
    font-size: 80%
);

$bottom-space: ( // distance for bottom margin or padding
    big: $big,
    medium: $medium,
    small: $small
);
$radius-size: ( // size of the border radius
    big: $medium + 10px,
    medium: $medium,
    small: $small,
    very-small: $very-small
);

$icon-size: 18px;

/* ========================================================================== */
/* Specific header variables */
// No specific variables

/* ========================================================================== */
/* Specific 'footer' variables */
    /* Footer responsive variables */
$footer-responsive: (
    tablette: (
        1: 50%,
        2: 50%,
        3: 100%
    ),
    desktop: (
        1: 30%,
        2: 30%,
        3: 40%
    )
);

/* ========================================================================== */
/* Specific 'affiche' variables */
$affiche_size: (
    width: 100%,
    height: 100vw
);
$texture_size: (
    width: 2500px,
    height: 3751px
);
$translation: (
    x: 100px,
    y: 600px
);

/* ========================================================================== */
/* Specific 'button' variables */
// No specific variables

/* ========================================================================== */
/* Specific 'video' variables */
$video-size: (
    width: 75vw,
    height: 42.2vw
);
