.createdBy{
    @include block-position(absolute, none, 0, 0, none, 1);
    & > p{
        font-size: map-get($p, font-size);
        margin: map-get($p, margin);
        padding: map-get($p, padding);
    }
}