.etoile{
    &--anim{
        @include block-position(absolute, 0, 0, 0, 0, 0);
        overflow: hidden;
        @include flex-display(row, center, flex-start, nowrap, no-adjust);
        & > img{
            height: 750px;
            display: inline-block;
            opacity: 0;
            animation: perspective-star 10s cubic-bezier(.3,.3,.7,.7) infinite;
        }
    }
    &__background{
        @include block-position(absolute, 0, 0, 0, 0, 1);
        background: linear-gradient(transparent, white);
        &--shadow{
            box-shadow: inset 0px -20px 10px -10px $color-primary;
        }
    }
}

@keyframes perspective-star {
    0% {
        transform: translate3d(-50px, -80px, 0) rotateZ(-5deg);
    }
    5% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    95% {
        opacity: 0;
    }
    100% {
        transform: translate3d(50px, -60px, 0) rotateZ(5deg);
    }
}