.fonction-list{
    @include flex-display(column, flex-start, flex-start, nowrap, no-adjust);
    list-style-type: none;
    padding-left: $medium;
    margin: 0;
    @each $key, $value in $responsive{
        @include responsive($key){
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    &__li{
        margin: ($medium - 8px) ($left-move + 20px) ($medium - 8px) $left-move;
        max-width: $texte-width;
        padding: $medium ($big + 15px) $medium 0;
        background-color: scale-color($color-primary, $lightness: 80%);
        border-radius: map-get($radius-size, medium);
        box-shadow: 0 4px 12px -2px $color-shadow;
        @include flex-display(row, flex-start, center, nowrap, no-adjust);
        @include block-position(relative);
        &--selected{
            background-color: scale-color($color-primary, $lightness: -5%);
        }
    }
    &__number{
        background-color: scale-color($color-primary, $lightness: -25%);
        padding: $very-small ($very-small + 4px) $very-small ($very-small + 4px);
        color: scale-color($color-primary, $lightness: -65%);
        font-size: 90%;
        border-radius: map-get($radius-size, small);
        @include block-position(absolute, none, none, none, -1 * $left-move, 1);
        &--selected{
            background-color: scale-color($color-primary, $lightness: -45%);
        }
    }
    &__icon{
        color: scale-color($color-primary, $lightness: -25%);
        font-size: $icon-size + 1px;
        min-width: map-get($dim-fonction-items, icon-content);
        margin: 0 $medium;
        &--selected{
            color: scale-color($color-primary, $lightness: -45%);
        }
    }
    &__texte{
        width: map-get($dim-fonction-items, span-width);
    }
}