.scene__fond{
    width: 80%;
    height: 500px;

    background-color: #000000;
    @include flex-display(row, center, flex-start, nowrap, no-adjust);
    &--ecran{
        margin-top: $very-small;
        width: 80%;
        height: 500px;

        background-color: #ffffff;
        @include flex-display(row, center, center, nowrap, no-adjust);
        & > video{
            width: 90%;
            max-height: 50vh;
            min-height: 25vh;
            object-fit: scale-down;
            background-color: #000000;
        }
    }
}

