#visionnage{
    height: 0;
    overflow: hidden;
    transition: height 300ms ease-in-out;
}

.lecture{
    @include flex-display(column-reverse, flex-start, flex-start, nowrap, no-adjust);
    background-color: $color-primary;
    &__article{
        margin-bottom: map-get($bottom-space, big);
        & .lecteur-area{
            height: map-get($video-size , height );
            @include flex-display();
            & > video{
                height: map-get($video-size , height );
                width: map-get($video-size , width );
                object-fit: scale-down;
                background-color: $color-quaternary;
            }
        }
        & .telechargement{
            @include flex-display(row, center, center, nowrap, no-adjust);
            width: 200px;
            margin: $medium auto;
            & > a{
                text-decoration: map-get($a , text-decoration);
                color: map-get($a , color);
                & > i{
                    padding: $very-small;
                }
            }
        }
    }
    &__aside{
        @include flex-display(column, flex-start, flex-start, nowrap, no-adjust);
        padding-bottom: map-get($bottom-space, big);
        & > h2{
            margin: map-get($h2 , margin);
            padding: map-get($h2 , padding);
            color: map-get($h2 , color);
            text-shadow: map-get($h2 , text-shadow);
        }
        & .container{
            @include flex-display(row, space-around)
        }
    }
}